<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>RicoRico</title>
  {% load staticfiles %}
  <link rel='stylesheet' href="{% static 'css/style.css' %}">
</head>
<body>
  <h1><a href="{% url 'index'%}">RicoRico</a></h1>

  <div class="userinfo">
  {% if user.is_authenticated %}
  Bienvenido <span class="user">{{user.username}}</span> | <a href="{% url 'auth_logout' %}">Salir</a>
  {% else %}
  <a href="/admin">Entrar</a> | <a href="{% url 'auth_register'%}">Registrarse</a>
  {% endif %}
   | <a href="{% url 'busqueda'%}">Buscar</a>
  </div>

  {% if user.is_authenticated %}
  <div class="addreceta"><a href="/admin/ricorico/receta/add/">Añadir receta</a></div>
  {% endif %}

  {% block contenido %}{% endblock %}
</body>
</html>