{% extends 'base.html' %}

{% load staticfiles %}

{% block contenido %}
<div class="box">
  <h2>Busqueda</h2>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Buscar">
  </form>
</div>
{% endblock %}