{% extends 'base.html' %}

{% load staticfiles %}

{% block contenido %}
<div class="receta">
  <h2>{{receta.nombre}}</h2>
  <h3><a href="#">{{receta.tipo}}</a></h3>
  <p class="tiempo">Preparación: {{receta.tiempo}} | Añadida: {{receta.fecha_creacion.day}}/{{receta.fecha_creacion.month}}/{{receta.fecha_creacion.year}}</p>
  {% if user.is_authenticated and user.id == receta.userid.id %}
  <div class="admin">
    <a href="/admin/ricorico/receta/{{receta.id}}"><img src="{% static 'images/edit.png' %}"></a>
    <a href="/admin/ricorico/receta/{{receta.id}}/delete"><img src="{% static 'images/delete.png' %}"></a>
  </div>
  {% endif %}
  <ul class="ingre">
    {% for i in receta.ingredientes.all %}
    <li>{{i.nombre}}</li>
    {% endfor %}
  </ul>
  <img class="img" src="{% static receta.imagen %}">
  <p class="ela">{{receta.elaboracion}}</p>
</div>
{% endblock %}