{% extends 'base.html' %}

{% load staticfiles %}

{% block contenido %}
{% if receta_list %}
  <ul class="recetas">
  {% for receta in receta_list %}
    <li>
      <div class="img"><img class="img" src="{% static receta.imagen %}"></div>
      <h2><a href="{% url 'detail' receta.id %}">{{receta.nombre}}</a></h2>
      <h3><a href="#">{{receta.tipo}}</a></h3><p>Preparación: {{receta.tiempo}} | Añadida: {{receta.fecha_creacion.day}}/{{receta.fecha_creacion.month}}/{{receta.fecha_creacion.year}}</p>

      {% if user.is_authenticated and user.id == receta.userid.id or user.id == 1 %}
      <div class="admin">
        <a href="/admin/ricorico/receta/{{receta.id}}"><img src="{% static 'images/edit.png' %}"></a>
        <a href="/admin/ricorico/receta/{{receta.id}}/delete"><img src="{% static 'images/delete.png' %}"></a>
      </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <div class="norecetas">No hay recetas :(</div>
{% endif %}
{% endblock %}