{% extends "base.html" %}

{% block contenido %}
<div class="box">
  <h2>Crea una cuenta</h2>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Registrarse">
  </form>
</div>
{% endblock %}