/* RicoRico | Gabriel Longás */

@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700|Arvo:400,700|Open+Sans:400,300,600,700,800);

html {
  min-height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(45deg, #eee5ba, #c1796a);
}
a {
  text-decoration: none;
}
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  font-size: 6em;
  text-align: center;
}
  h1 a {
    color: #fff;
  }

/* BASE */
.userinfo {
  width: 640px;
  margin: 10px auto;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(118, 76, 68, 0.2);
}
  .userinfo .user {
    text-transform: uppercase;
  }
  .userinfo a {
    color: #64584c;
  }
    .userinfo a:hover {
      color: #493f35;
    }
.addreceta {
  width: 630px;
  margin: 20px auto;
  padding: 10px;
  font-family: 'Josefin Slab', serif;
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background: #64584c;
  box-shadow: 0px 0px 15px rgba(118, 76, 68, 0.5);
}
  .addreceta:hover {
    background: #493f35;
  }
  .addreceta a {
    color: #fff;
  }

/* BUSQUEDA */
.box {
  width: 750px;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(118, 76, 68, 0.5);
}
  .box h2 {
    margin-bottom: 15px;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 3em;
    color: #e2704e;
  }
  .box .helptext {
    font-weight: normal;
    font-style: italic;
  }
  .box .errorlist {
    font-style: italic;
    color: red;
  }

/* LISTA RECETAS */
.norecetas {
  width: 650px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  color: #493f35;
}
ul.recetas {}
  ul.recetas li {
    width: 650px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(118, 76, 68, 0.5);
  }
  ul.recetas li:hover {
    box-shadow: 0px 0px 15px rgba(118, 76, 68, 0.9);
  }
    ul.recetas li .img {
      width: 100px;
      height: 100px;
      overflow: hidden;
      float: left;
      margin-right: 15px;
      background: #000;
    }
    ul.recetas li h2 {
      /* Esconder texto sobrante */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 7px;
    }
      ul.recetas li h2 a {
        font-family: 'Josefin Slab', serif;
        font-weight: 600;
        font-size: 2em;
        color: #e2704e;
      }
        ul.recetas li h2 a:hover {
          color: #bb5638;
        }
    ul.recetas li h3 {
      display: inline;
    }
      ul.recetas li h3 a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 0.8em;
        text-transform: uppercase;
        color: #887868;
      }
        ul.recetas li h3 a:hover {
          text-decoration: underline;
        }
    ul.recetas li p {
      display: inline;
      margin-left: 20px;
      font-family: 'Josefin Slab', serif;
      font-weight: 8 00;
      color: #a9a29c;
    }
    ul.recetas li .admin {
      display: inline;
      margin-left: 20px;
    }
      ul.recetas li .admin img {
        margin-right: 3px;
      }

/* RECETA */
.receta {
  width: 750px;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(118, 76, 68, 0.5);
}
  .receta h2 {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 3em;
    color: #e2704e;
  }
  .receta h3 {
    display: inline;
  }
    .receta h3 a {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 0.8em;
      text-transform: uppercase;
      color: #887868;
    }
      .receta h3 a:hover {
        text-decoration: underline;
      }
  .receta p.tiempo {
    display: inline;
    margin-left: 20px;
    font-family: 'Josefin Slab', serif;
    font-weight: 8 00;
    color: #a9a29c;
  }
  .receta .admin {
    display: inline;
    margin-left: 20px;
  }
    .receta .admin img {
      margin-right: 3px;
    }
  .receta .ingre {
    margin: 10px 0;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    background: #f6f1ed;
    border-radius: 5px;
    color: #777;
  }
    .receta .ingre li {
      display: inline;
      margin-right: 5px;
    }
  .receta .img {
    width: 400px;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
  }
  .receta .ela {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    text-align:justify;
    color: #5f482b;
  }